.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: transparent;
  opacity: 1;
}

.nav-pills .nav-link {
  color: #fff;
  opacity: 0.55;
  text-align: center;
}

.nav-pills .nav-link:hover {
  color: #fff;
  opacity: 1;
}

.job h4 {
  margin-top: 0;
  text-decoration: underline;
  text-decoration-color: #ff6e31;
  text-underline-offset: 0.31em;
  margin-bottom: 0.22em;
}

.job p {
  margin: 0;
  font-size: smaller;
  padding-bottom: 0.25em;
}

.job small {
  opacity: 0.55;
  font-size: medium;
}

.job a {
  color: #fff;
  font-size: large;
  text-decoration: none;
  opacity: 1;
  transition: 0.3s ease;
}

.job a:hover {
  opacity: 0.55;
}

.job-dl a {
  color: black;
  padding: 0.45em;
  border-radius: 0.5em;
  background-color: #fff;
  font-size: large;
  text-decoration: none;
  opacity: 1;
  transition: 0.3s ease;
}

.job-dl a:hover {
  opacity: 0.55;
}

.gitLink a {
  color: #fff;
  text-decoration: none;
  opacity: 1;
  transition: 0.3s ease;
}

.gitLink a:hover {
  opacity: 0.55;
}
