.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: transparent;
  opacity: 1;
  text-decoration: underline;
  text-decoration-color: #ff6e31;
  text-underline-offset: 0.25em;
}

.nav-pills .nav-link {
  color: #fff;
  opacity: 0.55;
}

.nav-pills .nav-link:hover {
  color: #fff;
  opacity: 1;
  text-decoration: underline;
  text-decoration-color: #ff6e31;
  text-underline-offset: 0.25em;
}

.job p {
  margin: 0;
  padding-bottom: 0.25em;
}

.job small {
  opacity: 0.55;
  font-size: smaller;
}
